$boardBlue: #008cf8;
$boardYellow: #ffc400;
$boardGreen: #00a300;
$boardRed: #f30f00;
.container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  .ludo {
    height: 450px;
    position: relative;
    width: 450px;
    background: url("/assets/ludo-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.player-piece {
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
}
[playerId="P1"].player-piece {
  background-color: #3a6ded;
}

[playerId="P2"].player-piece {
  background-color: rgb(8, 199, 18);
}
.player-piece.highlight {
  cursor: pointer;
  border: 2px dashed;
  // animation: spin 1s infinite linear;
  // transform-origin: center center;
}
@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.8);
  }
}
.player-base {
  width: 40%;
  height: 40%;
  border: 1.9rem solid;
  position: absolute;
}
.player-base.highlight {
  animation: border-blink 0.7s infinite ease-in-out;
}
@keyframes border-blink {
  50% {
    border-color: rgba($color: #fff, $alpha: 0.8);
  }
}
[playerId="P4"].player-base {
  top: 0rem;
  left: 0rem;
  border-color: $boardYellow;
}
[playerId="P1"].player-base {
  bottom: 0rem;
  left: 0rem;
  border-color: $boardBlue;
}
[playerId="P3"].player-base {
  bottom: 0rem;
  right: 0rem;
  border-color: $boardRed;
}
[playerId="P2"].player-base {
  top: 0rem;
  right: 0rem;
  border-color: $boardGreen;
}
